<div class="row" style="padding:10% 5% 5% 10%;">
  <div class="col-sm-5">
    <div style="border-bottom: 3px solid black">
      <h1>Thank you for your purchase!</h1>
    </div>
  </div>
</div>
<div class="row" style="padding-left: 20%">
  <div class="col">
    <div>
      <p style="font-size: 18px">To read more about frii Designs, click here:</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div style="text-align:center">
        <a target="_blank" href="https://www.friidesigns.com/"><img class="image-link" src="../assets/img/endPage.png"></a>
    </div>
  </div>
</div>