<!--The content below is only a placeholder and can be replaced.-->
<div class="full-body">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="assets/img/brandLogo.png" style="width: 50px; height:50px; margin-top:-15px">
        </a>
        <a class="navbar-brand nav-label-local" href="#">GL
          <fa-icon [icon]="faGlobeAmericas"></fa-icon>BUZZER</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a class="nav-label-local" href="#">Products</a>
        </li>
        <li>
          <a class="nav-label-local" href="#">Read more</a>
        </li>
        <li>
          <a class="nav-label-local" href="#">Partners</a>
        </li>
        <li>
          <a class="nav-label-local" href="#">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div style="padding-top: 200px"></div>
</div>