<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <p style="color:white">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <iframe class="video" width="600vw" height="400vw" src="https://www.youtube.com/embed/nye4eAjtwT0?mode=opaque&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;wmode=transparent"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row" style="padding-top: 50px">
        <div class="col-sm-5">
            <img src="../assets/img/prodImg.jpeg" class="img-responsive" style="width:80%; height:45%; float: right;" alt="Image">
        </div>
        <div class="col-sm-7">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row" style="color:#ff4169; font-size: 20px; font-weight: bold; padding-bottom: 20px">TRILENS</div>
                <div class="row" style="padding-bottom: 20px">
                    <p>Complete set including Housin, Belt clip, 5 x sets of cap magnets, 3 x Protective caps and a Frii Designs pouch.
                        Available for Canon EF, Nikon F or Sony E/FE lenses. Import fees may apply outside of the EU.
                    </p>
                </div>
                <div class="row" style="font-weight: bold; padding-bottom: 20px">99 &euro; + Shipping</div>
                <div class="row">
                    <div class="col-sm-6">
                            <a class="btnBuy btn" [routerLink] = "['/cart']">Buy now</a>
                    </div>
                    <div class="col-sm-6">
                        <button class="btnCart btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="padding: 20px; border:none; border-top: 3px solid #ff4169">
    <div class="row" style="padding-top: 10px ">
            <div class="col-sm-6">
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    <div class="row" style="color:#ff4169; font-size: 20px; font-weight: bold; padding-bottom: 20px">2 X TRILENS</div>
                    <div class="row" style="padding-bottom: 20px">
                        <p>Complete set including Housin, Belt clip, 5 x sets of cap magnets, 3 x Protective caps and a Frii Designs pouch.
                            Available for Canon EF, Nikon F or Sony E/FE lenses. Import fees may apply outside of the EU.
                        </p>
                    </div>
                    <div class="row" style="font-weight: bold; padding-bottom: 20px">179 &euro; + Shipping</div>
                    <div class="row">
                            <!-- 
                            <li><h2><a [routerLink] = "['/cart']">cart</a></h2></li> -->
                        <div class="col-sm-6">
                            <a class="btnBuy btn" [routerLink] = "['/cart']">Buy now</a>
                        </div>
                        <div class="col-sm-6">
                            <button class="btnCart btn">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="../assets/img/prodImg.jpeg" class="img-responsive" style="width:80%; height:45%;" alt="Image">
            </div>
        </div>
</div>
<br>